Saving and Using API Keys

In [1]:
import json
with open('/Users/staichn/.secret/yelp_api.json') as f: #change the path to match YOUR path!!
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [2]:
from yelpapi import YelpAPI
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

In [3]:
# Quick Test Query
results = yelp_api.search_query(location='Pocono Pines, PA',
                                       term='Cheese Steak')
type(results)
results.keys()

dict_keys(['businesses', 'total', 'region'])

Working with JSON Files

In [4]:
# This is the example message we want to save as .txt
message = """My test message to save to file.
It is a multi-line string."""
message

'My test message to save to file.\nIt is a multi-line string.'

In [5]:
# Save it to a file
with open('example_file.txt','w') as file:
    file.write(message)

In [6]:
with open('example_file.txt','r') as f:
    loaded = f.read()
    
loaded

'My test message to save to file.\nIt is a multi-line string.'

Begin JSON Tutorial

In [7]:
## Saving a dictionary to a JSON file
data = {'stack':4, 'week':2, 
       'things learned':['MySQL','MySQL WorkBench',
                         'GitHub Desktop','Jupyter Notebooks','JSON' ]}
data

{'stack': 4,
 'week': 2,
 'things learned': ['MySQL',
  'MySQL WorkBench',
  'GitHub Desktop',
  'Jupyter Notebooks',
  'JSON']}

In [8]:
## save dict to json file with json.dump
import json
with open('example_saved_data.json','w') as f:
    json.dump(data, f)

In [9]:
## Load saved json file back to dictionary
with open('example_saved_data.json') as f:
    loaded = json.load(f)
loaded

{'stack': 4,
 'week': 2,
 'things learned': ['MySQL',
  'MySQL WorkBench',
  'GitHub Desktop',
  'Jupyter Notebooks',
  'JSON']}

In [10]:
print(type(loaded))
loaded.keys()

<class 'dict'>

dict_keys(['stack', 'week', 'things learned'])

In [11]:
# Open the jsonfile and display the first level of keys
# open API results WITH json module
import json
with open('data\example_yelp_results.json') as f:   #adjust for your path
    json_file = json.load(f)
    
## What type is top-level of json?
type(json_file)

dict

In [12]:
# what are the keys?
json_file.keys()

dict_keys(['businesses', 'total', 'region'])

In [13]:
# what type is region?
type(json_file['region'])

dict

In [14]:
# what are the keys in center?
json_file['region']['center'].keys()

dict_keys(['longitude', 'latitude'])

In [15]:
# Visualize the whole center dict, since lat and long are likely single values
json_file['region']['center']

{'longitude': -76.607666015625, 'latitude': 39.29617825404647}

In [16]:
# what is stored under the "total" key?
type(json_file['total'])

int

In [17]:
## what is the value?
json_file['total']

435

In [18]:
# what is in the businesses key?
type(json_file['businesses'])

list

In [19]:
# how long is businesses?
len(json_file['businesses'])

20

In [20]:
# what does the first entry of business look like?
json_file['businesses'][0]

{'id': 'D9A33FM394q99o4QtK5YwA',
 'alias': 'faidleys-seafood-baltimore-3',
 'name': 'Faidleys Seafood',
 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDCVS7pGopH6GZcfjBA/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/faidleys-seafood-baltimore-3?adjust_creative=KJtcufKUS887p24u6rjVIQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KJtcufKUS887p24u6rjVIQ',
 'review_count': 1184,
 'categories': [{'alias': 'seafood', 'title': 'Seafood'},
  {'alias': 'beerbar', 'title': 'Beer Bar'}],
 'rating': 4.0,
 'coordinates': {'latitude': 39.291696, 'longitude': -76.62224},
 'transactions': ['delivery'],
 'price': '$$',
 'location': {'address1': '203 N Paca St',
  'address2': '',
  'address3': '',
  'city': 'Baltimore',
  'zip_code': '21201',
  'country': 'US',
  'state': 'MD',
  'display_address': ['203 N Paca St', 'Baltimore, MD 21201']},
 'phone': '+14107274898',
 'display_phone': '(410) 727-4898',
 'distance': 1349.560720156645}

In [21]:
## what are the keys of the first entry in businesses?
json_file['businesses'][0].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

In [22]:
## what are the keys of the NEXT entry in businesses? Do they math the first?
json_file['businesses'][1].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

In [23]:
import pandas as pd
df_businesses = pd.DataFrame(json_file['businesses'])
df_businesses.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1184,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",[delivery],$$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107274898,(410) 727-4898,1349.560720
1,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2919,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","[delivery, pickup]",$$,"{'address1': '750 E Pratt St', 'address2': '',...",+14105285373,(410) 528-5373,1028.736468
2,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2729,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",[delivery],$$$,"{'address1': '1728 Thames St', 'address2': '',...",+14434497726,(443) 449-7726,2090.712792
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1279,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","[delivery, pickup]",$$,"{'address1': '2901 Odonnell St', 'address2': '...",+14102763160,(410) 276-3160,3328.825798
4,ISn7WyGQaFpsVSRSh0NSqg,sal-and-sons-baltimore,Sal and Sons,https://s3-media3.fl.yelpcdn.com/bphoto/LmVL4j...,False,https://www.yelp.com/biz/sal-and-sons-baltimor...,153,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.284, 'longitude': -76.59337}",[delivery],$,"{'address1': '1640 Aliceanna St', 'address2': ...",+14106751466,(410) 675-1466,1817.406978

In [24]:
df_businesses[['categories','coordinates','location']].head(3)

,categories,coordinates,location
0,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 39.291696, 'longitude': -76.62224}","{'address1': '203 N Paca St', 'address2': '', ..."
1,"[{'alias': 'breakfast_brunch', 'title': 'Break...","{'latitude': 39.2870995, 'longitude': -76.6053...","{'address1': '750 E Pratt St', 'address2': '',..."
2,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 39.28214, 'longitude': -76.59162}","{'address1': '1728 Thames St', 'address2': '',..."

Begin YelpAPI Pacakage

In [27]:
import json
with open('/Users/staichn/.secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [28]:
# import the YelpAPI Class
from yelpapi import YelpAPI
# Create an instance with your key
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

In [29]:
# use our yelp_api variable's search_query method to perform our API call
search_results = yelp_api.search_query(location='Baltimore, MD,21202',
                                       term='Crab Cakes')
print(type(search_results))
search_results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [30]:
search_results['total']

436

In [31]:
biz = pd.DataFrame(search_results['businesses'])
biz.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidley's Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/8j3ynZ...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1197,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",[delivery],$$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107274898,(410) 727-4898,1349.560720
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2757,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",[delivery],$$$,"{'address1': '1728 Thames St', 'address2': '',...",+14434497726,(443) 449-7726,2090.712792

In [32]:
## how many businesses in our results
len(search_results['businesses'])

20

In [33]:
# add offset to our original api call
search_results = yelp_api.search_query(location='Baltimore, MD,21202',
                                       term='Crab Cakes',
                                       offset = 20)

In [34]:
biz20 = pd.DataFrame(search_results['businesses'])
biz20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,CQ79htRPD6yxi0Zg4sYTNw,the-capital-grille-baltimore-3,The Capital Grille,https://s3-media3.fl.yelpcdn.com/bphoto/iqCwGC...,False,https://www.yelp.com/biz/the-capital-grille-ba...,592,"[{'alias': 'steak', 'title': 'Steakhouses'}, {...",4.5,"{'latitude': 39.287106243991346, 'longitude': ...","[delivery, pickup]",$$$,"{'address1': '500 E Pratt St', 'address2': Non...",+14437034064,(443) 703-4064,1009.643156
1,VLGdENTqjFJuCjg1SbW7_g,nicks-fish-house-baltimore,Nicks Fish House,https://s3-media3.fl.yelpcdn.com/bphoto/xMvMJ9...,False,https://www.yelp.com/biz/nicks-fish-house-balt...,859,"[{'alias': 'seafood', 'title': 'Seafood'}]",4.0,"{'latitude': 39.26036, 'longitude': -76.61421}",[delivery],$$,"{'address1': '2600 Insulator Dr', 'address2': ...",+14103474123,(410) 347-4123,3984.496569

In [35]:
## concatenate the previous results and new results. 
businesses = pd.concat([biz, biz20],
                      ignore_index=True)
display(businesses.head(3), businesses.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidley's Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/8j3ynZ...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1197,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",[delivery],$$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107274898,(410) 727-4898,1349.560720
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2757,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",[delivery],$$$,"{'address1': '1728 Thames St', 'address2': '',...",+14434497726,(443) 449-7726,2090.712792
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2965,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...",[delivery],$$,"{'address1': '750 E Pratt St', 'address2': '',...",+14105285373,(410) 528-5373,1028.736468

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
37,GOvVNYe2DwjGzwdVJIKw1Q,wicked-sisters-tavern-baltimore,Wicked Sisters Tavern,https://s3-media2.fl.yelpcdn.com/bphoto/XdSbMU...,False,https://www.yelp.com/biz/wicked-sisters-tavern...,582,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 39.3350187678809, 'longitude': -7...","[delivery, pickup]",$$,"{'address1': '3845 Falls Rd', 'address2': '', ...",+14108780884,(410) 878-0884,4974.443762
38,Hpnp8R6mjwiSSNeCWBh-EQ,david-and-dads-cafe-baltimore-4,David and Dad's Cafe,https://s3-media2.fl.yelpcdn.com/bphoto/CCDgL6...,False,https://www.yelp.com/biz/david-and-dads-cafe-b...,207,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2905746, 'longitude': -76.6150...","[delivery, pickup]",$,"{'address1': '115 N Charles St', 'address2': '...",+14105470550,(410) 547-0550,865.406513
39,TL34QOmDmMtJmsabvPLErg,annabel-lee-tavern-baltimore,Annabel Lee Tavern,https://s3-media2.fl.yelpcdn.com/bphoto/dh6k0b...,False,https://www.yelp.com/biz/annabel-lee-tavern-ba...,614,"[{'alias': 'pubs', 'title': 'Pubs'}, {'alias':...",4.5,"{'latitude': 39.28538, 'longitude': -76.56961}","[delivery, pickup, restaurant_reservation]",$$,"{'address1': '601 S Clinton St', 'address2': '...",+14105222929,(410) 522-2929,3485.045821

Usin the Yelp API (Practice)

In [36]:
import json
with open('/Users/staichn/.secret/yelp_api.json') as f: #change the path to match YOUR path!!
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [ ]:
from yelpapi import YelpAPI
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

In [ ]:
# Quick Test Query
results = yelp_api.search_query(location='Pocono Pines, PA',
                                       term='Cheese Steak')
type(results)
results.keys()

Code for Efficient API Extraction

In [51]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Additional Imports
import os, json, math, time
from yelpapi import YelpAPI
from tqdm.notebook import tqdm_notebook

In [52]:
# Load API Credentials
with open('/Users/staichn/.secret/yelp_api.json') as f:   #use your path here!
    login = json.load(f)
# Instantiate YelpAPI Variable
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)

In [53]:
# set our API call parameters and filename before the first call
LOCATION = 'Baltimore, MD,21202'
TERM = 'Crab Cakes'

In [54]:
# Specifying JSON_FILE filename (can include a folder)
# include the search terms in the filename
JSON_FILE = f"Data/results_in_progress_Crab_cakes.json"
JSON_FILE

'Data/results_in_progress_Crab_cakes.json'

In [55]:
## Check if JSON_FILE exists
file_exists = os.path.isfile(JSON_FILE)
## If it does not exist: 
if file_exists == False:
    
    ## CREATE ANY NEEDED FOLDERS
    # Get the Folder Name only
    folder = os.path.dirname(JSON_FILE)
    ## If JSON_FILE included a folder:
    if len(folder)>0:
        # create the folder
        os.makedirs(folder,exist_ok=True)
        
        
    ## INFORM USER AND SAVE EMPTY LIST
    print(f"[i] {JSON_FILE} not found. Saving empty list to file.")
    
    
    ## save the first page of results
    with open(JSON_FILE,'w') as f:
        json.dump([],f)  
## If it exists, inform user
else:
    print(f"[i] {JSON_FILE} already exists.")

[i] Data/results_in_progress_Crab_cakes.json already exists.

In [56]:
## Load previous results and use len of results for offset
with open(JSON_FILE,'r') as f:
    previous_results = json.load(f)
    
## set offset based on previous results
n_results = len(previous_results)
print(f'- {n_results} previous results found.')

- 340 previous results found.

In [57]:
# use our yelp_api variable's search_query method to perform our API call
results = yelp_api.search_query(location=LOCATION,
                                term=TERM,
                               offset=n_results)
results.keys()

dict_keys(['businesses', 'total', 'region'])

In [58]:
## How many results total?
total_results = results['total']
total_results

436

In [59]:
## How many did we get the details for?
results_per_page = len(results['businesses'])
results_per_page

20

In [60]:
# Import additional packages for controlling our loop
import time, math
# Use math.ceil to round up for the total number of pages of results.
n_pages = math.ceil((results['total']-n_results)/ results_per_page)
n_pages

5

In [61]:
# join new results with old list with extend and save to file
previous_results.extend(results['businesses'])  
with open(JSON_FILE,'w') as f:
     json.dump(previous_results,f)

In [62]:
pip install tqdm

Requirement already satisfied: tqdm in c:\users\staichn\anaconda3\envs\dojo-env\lib\site-packages (4.64.0)
Requirement already satisfied: colorama in c:\users\staichn\anaconda3\envs\dojo-env\lib\site-packages (from tqdm) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [63]:
from tqdm.notebook import tqdm_notebook
import time
for i in tqdm_notebook(range(n_pages)):
    # adds 200 ms pause
    time.sleep(.2)

  0%|          | 0/5 [00:00<?, ?it/s]

In [64]:
for i in tqdm_notebook( range(1,n_pages+1)):
    time.sleep(.2)
    ## Read in results in progress file and check the length
    with open(JSON_FILE, 'r') as f:
        previous_results = json.load(f)
    ## save number of results for to use as offset
    n_results = len(previous_results)
    ## use n_results as the OFFSET 
    results = yelp_api.search_query(location=LOCATION,
                                    term=TERM, 
                                    offset=n_results)
    
    ## append new results and save to file
    previous_results.extend(results['businesses'])
    
#     display(previous_results)
    with open(JSON_FILE,'w') as f:
        json.dump(previous_results,f)

  0%|          | 0/5 [00:00<?, ?it/s]

In [65]:
# load final results
final_df = pd.read_json(JSON_FILE)
display(final_df.head(), final_df.tail())

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidley's Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/8j3ynZ...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1197,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",[delivery],$$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107274898,(410) 727-4898,1349.560720
1,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2757,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",[delivery],$$$,"{'address1': '1728 Thames St', 'address2': '',...",+14434497726,(443) 449-7726,2090.712792
2,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2965,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...",[delivery],$$,"{'address1': '750 E Pratt St', 'address2': '',...",+14105285373,(410) 528-5373,1028.736468
3,fdo4pqfSYjQyW5_-rElfew,faidley-s-seafood-baltimore-2,Faidley’s Seafood,https://s3-media4.fl.yelpcdn.com/bphoto/7aCi2U...,False,https://www.yelp.com/biz/faidley-s-seafood-bal...,40,"[{'alias': 'seafoodmarkets', 'title': 'Seafood...",4.0,"{'latitude': 39.2915897, 'longitude': -76.6222...",[],$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107526461,(410) 752-6461,1342.513104
4,AjMBJPjnaGIVhBd08gpjvA,the-water-street-tavern-and-key-west-patio-bar...,The Water Street Tavern & Key West Patio Bar,https://s3-media3.fl.yelpcdn.com/bphoto/dPOyNQ...,False,https://www.yelp.com/biz/the-water-street-tave...,269,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 39.288553, 'longitude': -76.613303}",[delivery],$$,"{'address1': '102 Water St', 'address2': '', '...",+14106059495,(410) 605-9495,976.849894

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
423,nA8hY_b-yD4U_PQGWGmw9Q,american-wings-and-pizza-baltimore,American Wings & Pizza,https://s3-media2.fl.yelpcdn.com/bphoto/mYgJ5p...,False,https://www.yelp.com/biz/american-wings-and-pi...,60,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",2.5,"{'latitude': 39.3165, 'longitude': -76.61556}","[pickup, delivery]",$,"{'address1': '2400 St Paul St', 'address2': ''...",+14102352300,(410) 235-2300,2361.614576
424,Ze6HjOxBSUu2B5I-XkY1-Q,big-kahuna-cantina-baltimore,Big Kahuna Cantina,,False,https://www.yelp.com/biz/big-kahuna-cantina-ba...,5,"[{'alias': 'mexican', 'title': 'Mexican'}]",1.5,"{'latitude': 39.2851028442383, 'longitude': -7...",[],$$,"{'address1': '301 Light St', 'address2': '', '...",+14105397060,(410) 539-7060,1274.415312
425,WVQqkLAKowuIe51IVNXCZA,outback-steakhouse-baltimore,Outback Steakhouse,https://s3-media2.fl.yelpcdn.com/bphoto/NzwBx9...,False,https://www.yelp.com/biz/outback-steakhouse-ba...,136,"[{'alias': 'steak', 'title': 'Steakhouses'}]",3.0,"{'latitude': 39.2817468, 'longitude': -76.5816...","[pickup, delivery]",$$,"{'address1': '2400 Boston St', 'address2': '',...",+14105227757,(410) 522-7757,2755.986468
426,rtlLrtUn35c9Y2eIcxHT8g,kings-pizza-and-subs-baltimore-2,King's Pizza & Subs,https://s3-media2.fl.yelpcdn.com/bphoto/9FEdeU...,False,https://www.yelp.com/biz/kings-pizza-and-subs-...,75,"[{'alias': 'pizza', 'title': 'Pizza'}]",2.5,"{'latitude': 39.33086, 'longitude': -76.63161}","[pickup, delivery]",$$,"{'address1': '907 W 36th St', 'address2': None...",+14108893663,(410) 889-3663,4382.210159
427,EWkA_yQ1VPa7cHbkiBbawA,phillys-best-baltimore,Philly's Best,https://s3-media4.fl.yelpcdn.com/bphoto/CXQdUz...,False,https://www.yelp.com/biz/phillys-best-baltimor...,45,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",3.0,"{'latitude': 39.33084, 'longitude': -76.63393}","[pickup, delivery]",$,"{'address1': '1101 W 36th St', 'address2': '',...",+14102431301,(410) 243-1301,4467.724059

In [66]:
# check for duplicate IDs
final_df.duplicated(subset='id').sum()

2

In [67]:
# save the final results to a compressed csv
final_df.to_csv('Data/final_results_crab_cakes.csv.gz', compression='gzip',index=False)